@using Microsoft.AspNetCore.Http

@model IEnumerable<Dominio.Dish>

@{
    ViewData["Title"] = "Home";
}

<div class="row align-items-stretch">
    @foreach (var item in Model)
    {
        <div class="col-sm-3 pb-3">

            <div class="card p-3">
                <img class="card-img-top" src="~/assets/img/burger.svg" alt="Card image cap">
                <div class="card-body">
                    <p>@item.Likes.Count()</p>
                    @if (Context.Session.GetString("LogueadoRol") == "cliente")
                    {
                        <div class="d-flex">
                            @Html.ActionLink("Me gusta",
                                 "Like",
                                 new { id = item.ID }
                                )
                        </div>
                    }
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">$ @Html.DisplayFor(modelItem => item.Price)</p>
                    @if (Context.Session.GetString("LogueadoRol") == "cliente")
                    {
                        @Html.ActionLink("Agregar a la orden",
                             "Add",
                             new { id = item.ID },
                             new { @class = "btn btn-primary" }
                            )
                    }
                </div>
            </div>
        </div>
    }
</div>
