@model IEnumerable<Dominio.Dish>

@{
    ViewData["Title"] = "Order";
}

@if (Model.Count() == 0)
{
<h1>Tu orden</h1>
<section class="container border">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center text-center p-3">
            <figure>
                <img class="empty-order" src="~/assets/img/20.svg" alt="Plato vacío" style="height:50px;"/>
            </figure>
            <h2 class="lead">Tu orden todavía está vacía</h2>
        </div>
    </div>
</section>
}
else
{



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
}
